@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Signika Negative", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.app {
    margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* TaskCreator */
input {
  padding: 5px 30px;
  font-size: x-large;
  border-radius: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 40px;
}

/* TaskTable */

table {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: blue;
  padding: 15px;
  border-radius: 20px;
}

th{
    font-size: xx-large;
    color: white;
    font-weight: 400;
}

table>thead{
    text-align: center;
    margin: 0px auto 0px;
}

.task{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    font-size: x-large;
    background-color: cornflowerblue;
    padding: 8px 20px;
    border-radius: 20px;
    color: rgb(48, 48, 48);
}

.VisibiltyControl{
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}